{% extends 'course/basic_page.html' %}
{% block title %}Study Portal</title>{% endblock %}
{% block course_active %}active{% endblock %}

{% block body %}
<br>
<div class="container-fluid">


      <div class="row">
    <br><br>
        <div class="col-sm-6 col-md-3">
        
            <div class="thumbnail" style="background: rgba(145, 255, 165, 1.0);
background: -webkit-linear-gradient(top left, rgba(145, 255, 165, 1.0), rgba(90, 226, 94, 1.0));
background: -moz-linear-gradient(top left, rgba(145, 255, 165, 1.0), rgba(90, 226, 94, 1.0));
background: linear-gradient(to bottom right, rgba(145, 255, 165, 1.0), rgba(90, 226, 94, 1.0));">
                        <a href="{% url 'course:detail' course.id %}">
                             <img src="{{ course.course_logo.url }}" class="img-responsive">
                            <!--{{ course.name }}-->
                        </a>

                        <div class="caption">
                        <a style="display:block"   href="{% url 'course:detail' course.id %}" >
                        <span>
                            <h2>{{ course.code }}</h2>
                        </span>
                        </a>
                            <div style="height: 40px">
                            <a style="display:block"   href="{% url 'course:detail' course.id %}" >
                            <span>
                                <h4>{{ course.name }}</h4>
                           
                            </div>
                            <img src=" {{course.instructor.profile_pic.url}}" class="imgi" width="130" height="100">
                            </span>
                            </a>
                        </div>

                    </div>
                
                </div> 
        <br><br><br>
        <div class="col-sm-6">
                <div class="panel-body"style="background: -webkit-linear-gradient(top left, rgba(244, 255, 178, 1.0), rgba(170, 244, 144, 1.0));
background: -moz-linear-gradient(top left, rgba(244, 255, 178, 1.0), rgba(170, 244, 144, 1.0));
background: linear-gradient(to bottom right, rgba(244, 255, 178, 1.0), rgba(170, 244, 144, 1.0));color:black;font-family: 'Abhaya Libre';font-size:16px;">
                    <h3 align="center"; style="text-align:center;font-family:Volkhov,cursive;font-size:40px;color: #728892">Add Resource</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
               <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ field.errors }}</span>
            </div>
        <label class="control-label col-sm-5">{{ field.label_tag }}</label>
        <div class="col-sm-5">{{ field }}</div>
        </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
                </div>
            </div>



    </div>

</div>


{% endblock %}



